[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "bin/sl"]
	path = bin/sl
	url = https://github.com/pocke/sl_tweet.git
