#!/bin/sh

xmodmap ~/.Xmodmap

# disable 3rd button
xinput set-button-map 10 1 0 3 4 5 6 7 8 9 10 11 12

# disable mouse while typing
syndaemon -k -i 0.5 -d

# load dual screen setting
~/.local/bin/vga1_dual

# QtApp Style
export QT_STYLE_OVERRIDE=gtk

# DESKTOP_ENVIRONMENT
export DE=gnome

# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export DefaultIMModule=fcitx
fcitx
