#!/bin/bash

# DESKTOP_ENVIRONMENT
export DE=gnome
export QT_STYLE_OVERRIDE=kvantum

# https://wiki.archlinux.de/title/GNOME#Zugangshilfen
export NO_AT_BRIDGE=1

# https://wiki.archlinux.org/index.php/Hardware_video_acceleration#Configuration
export LIBVA_DRIVER_NAME=radeonsi
# export VDPAU_DRIVER=va_gl

export GTK2_RC_FILES=$HOME/.config/gtk-2.0/gtkrc

ibus-daemon -rxd
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

xbindkeys -f $HOME/.config/xbindkeys/config -n &

xset b off

xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &
