snippet main auto main() -> int { ... }
	auto main() -> int {
		${0}
	}
snippet mainarg auto main(int argc, char** argv) -> int { ... }
	auto main(int argc, char** argv) -> int {
		${0}
	}
snippet inc #include <...>
	#include <${1:iostream}>
snippet Inc #include "..."
	#include "${1:`vim_snippets#Filename("$1.h")`}"
snippet ifndef #fndef ... #define ... #endif
	#ifndef $1
	#define ${1:SYMBOL} ${2:value}
	#endif // $1
