* {
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  color: rgb(243, 244, 246);
  border: none;
  border-radius: 0;
}

#waybar {
  background-color: rgba(21, 21, 21, 0.6);
  box-shadow: none;
}

tooltip {
  background-color: rgba(21, 21, 21, 0.6);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

#custom-archlinux {
  padding: 0 0.6em;
}

#workspaces button {
  padding: 0 0.25em;
  background-color: transparent;
}

#workspaces button:hover {
  background-color: rgba(15, 148, 210, 0.2);
}

#workspaces button.active,
#workspaces button.focused {
  background-color: rgba(15, 148, 210, 0.4);
}

#workspaces button.urgent {
  background-color: rgb(251, 146, 60);
  color: rgba(21, 21, 21, 0.8);
}

#submap {
  padding: 0 0.5em;
  background-color: rgba(82, 238, 255, 0.2);
}

#window {
  padding: 0 0.5em;
}

#window label {
  font-family: sans-serif;
  font-weight: 600;
}

#tray,
#network,
#wireplumber,
#cpu,
#memory,
#temperature,
#battery,
#idle_inhibitor,
#clock {
  padding: 0 0.5em;
}

#idle_inhibitor.activated {
  background-color: rgba(251, 146, 60, 0.9);
  color: rgba(21, 21, 21, 0.8);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(251, 146, 60, 0.9);
}
